<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{!-- Font Import --}}
    {{!-- Syncopate --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">

    {{!-- Link to CSS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header class="is-flex is-justify-content-space-between my-6">
        <a href="/" class="is-flex">
            <h1 class="title is-size-3 ml-5">Tech Talk</h1>
        </a>

        <nav class="is-flex is-align-items-center">
            {{#if user}}
            <p class="mx-3"> Welcome, {{user.username}}</p>

            <a href="/add" class="mx-3 {{#if add}}active{{/if}}">Add New Post</a>

            <a href=" /logout" class="mx-3">Log Out</a>

            {{else}}
            <a href="/login" class="mx-3 {{#if login}}active{{/if}}">Log In</a>

            <a href="/register" class="mx-3 {{#if register}}active{{/if}}">Register</a>
            {{/if}}
        </nav>
    </header>

    {{{body}}}

</body>

</html>