<form action="/add" method="POST">
    <label for="blogTitle">Blog Title:</label><br>
    <input type="text" id="title" name="title"><br><br>

    <label for="blogText">Blog Text:</label><br>
    <textarea id="blogText" name="content" rows="4" cols="50"></textarea><br><br>

    <input type="submit" value="Submit">
</form>