<section class="my-6 has-text-centered">

    <h2 class="is-size-5 has-text-weight-bold">{{blogPost.title}}</h2><br>

    <p>{{blogPost.content}}</p>

</section>

<hr class="mt-6">

<form class="mt-6 pt-6" action="/comment/{{blogPost.id}}" method="POST">
    <h2 class="title is-size-6">enter your comment here: </h2>

    <textarea name="content" rows="8" cols="50"></textarea><br>

    <input class="special-button button is-success is-rounded" type="submit" value="Submit">

</form>