<form action="/edit/{{blogPost.id}}?_method=PUT" method="POST">
    <label for="blogTitle">Blog Title:</label>
    <input class="input" type="text" id="title" name="title" value="{{blogPost.title}}">

    <label for="blogText">Blog Text:</label>
    <textarea class="textarea" id="blogText" name="content" rows="4" cols="50">
    {{blogPost.content}}</textarea><br>

    <input class="special-button m-2 button is-success is-rounded" type="submit" value="Submit">
</form>