<form class="column" action="/login" method="POST">
    <h2 class="text-center">Sign In</h2>
    <input name="email" type="email" placeholder="enter your email">
    <input type="password" name="password" placeholder="enter password">
    <button>Submit</button>
</form>