<form class="column" action="/register" method="POST">
    <h2 class="text-center">Register</h2>
    <input name="email" type="email" placeholder="enter your email">
    <input name="username" type="text" placeholder="choose a username">
    <input type="password" name="password" placeholder="enter password">
    <button>Submit</button>
</form>