/* RESETS */

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #333;
}

form {
    width: 400px;
    margin: 0 auto;
}

form>* {
    padding: 6px 10px;
    margin-bottom: 6px;
}


/* custom styles */

/* header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
} */

header h1,
h2 {
    font-family: "Syncopate",
        sans-serif;
}

nav a {
    text-decoration: none;
    margin: 10px;
}

nav a.active,
nav a:hover {
    color: rgb(55, 55, 161);
    font-weight: bold;
    text-decoration: underline;
}

/* media queries */

@media(max-width: 600px) {
    header.is-flex-direction-row {
        display: flex;
        flex-direction: column !important;
    }

    header h1.title {
        font-size: 1.5rem !important;
        text-align: center;
    }

    header nav a,
    header p {
        font-size: .85rem;
    }
}