/* RESETS */

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgb(205, 234, 222);
}

body {
    margin: 0 30px;
}

a {
    color: #333;
}

form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form>* {
    padding: 6px 10px;
    margin-bottom: 6px;
}


/* custom styles */

header h1,
h2 {
    font-family: "Syncopate",
        sans-serif;
}

nav a {
    text-decoration: none;
    margin: 10px;
}

nav a.active,
nav a:hover {
    color: rgb(48, 139, 105);
    font-weight: bold;
    text-decoration: underline;
}

.special-button {
    width: 150px;
    margin: 0 auto;
}

/* media queries */

@media(max-width: 600px) {
    header.is-flex-direction-row {
        display: flex;
        flex-direction: column !important;
    }

    header h1.title {
        font-size: 1.5rem !important;
        text-align: center;
    }

    header nav a,
    header p {
        font-size: .85rem;
    }
}